<div class="login-container">
    <div class="login-form">
      <img class="ui centered small image" src="https://gruposantopollo.com/img/santo_pollo_logo_azul.png">
      <h2 class="ui header">Bienvenidos</h2>
      <div class="ui input login-input">
        <input type="text" placeholder="Usuario">
      </div>
      <div class="ui input login-input">
        <input type="password" placeholder="Contraseña">
      </div>
      <button class="ui button login-btn" type="submit">LOGIN</button>
    </div>
    <div class="login-blue-bar"></div>
  </div>